<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zbzl.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.zbzl.entity.SysUser" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_LOGIN" property="userLogin" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PASS" property="userPass" jdbcType="VARCHAR" />
    <result column="USER_ORG" property="userOrg" jdbcType="VARCHAR" />
    <result column="USER_POST" property="userPost" jdbcType="VARCHAR" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="USER_VALID" property="userValid" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, USER_LOGIN, USER_NAME, USER_PASS, USER_ORG, USER_POST, USER_EMAIL, USER_MOBILE, 
    USER_VALID, REMARK, USER_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_USER
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zbzl.entity.SysUser" >
    insert into SYS_USER (USER_ID, USER_LOGIN, USER_NAME, 
      USER_PASS, USER_ORG, USER_POST, 
      USER_EMAIL, USER_MOBILE, USER_VALID, 
      REMARK, USER_CODE)
    values (#{userId,jdbcType=VARCHAR}, #{userLogin,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPass,jdbcType=VARCHAR}, #{userOrg,jdbcType=VARCHAR}, #{userPost,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{userValid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zbzl.entity.SysUser" >
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userLogin != null" >
        USER_LOGIN,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPass != null" >
        USER_PASS,
      </if>
      <if test="userOrg != null" >
        USER_ORG,
      </if>
      <if test="userPost != null" >
        USER_POST,
      </if>
      <if test="userEmail != null" >
        USER_EMAIL,
      </if>
      <if test="userMobile != null" >
        USER_MOBILE,
      </if>
      <if test="userValid != null" >
        USER_VALID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userLogin != null" >
        #{userLogin,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userOrg != null" >
        #{userOrg,jdbcType=VARCHAR},
      </if>
      <if test="userPost != null" >
        #{userPost,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userValid != null" >
        #{userValid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zbzl.entity.SysUser" >
    update SYS_USER
    <set >
      <if test="userLogin != null" >
        USER_LOGIN = #{userLogin,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        USER_PASS = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userOrg != null" >
        USER_ORG = #{userOrg,jdbcType=VARCHAR},
      </if>
      <if test="userPost != null" >
        USER_POST = #{userPost,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userValid != null" >
        USER_VALID = #{userValid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zbzl.entity.SysUser" >
    update SYS_USER
    set
      USER_LOGIN = #{userLogin,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASS = #{userPass,jdbcType=VARCHAR},
      USER_ORG = #{userOrg,jdbcType=VARCHAR},
      USER_POST = #{userPost,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      USER_VALID = #{userValid,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>

  <update id="updateByUserPass" parameterType="com.zbzl.entity.SysUser" >
    update SYS_USER
    set
      USER_PASS = #{userPass,jdbcType=VARCHAR},
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="selectBypassword" resultMap="BaseResultMap" parameterType="java.lang.String" >
           SELECT
            *
        FROM
            sys_user
        WHERE
            user_name=#{userName}
        AND user_Pass = #{userPass}
    </select>


  <select id="login" parameterType="com.zbzl.entity.PageQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
    where user_login = #{userLogin,jdbcType=VARCHAR} and user_pass = #{userPass,jdbcType=VARCHAR}
  </select>

  <delete id="deleteMoreDistrict" parameterType="com.zbzl.entity.PageQuery">
    DELETE FROM sys_user WHERE user_id IN ${exSql}
  </delete>


  <select id="selectByExample" parameterType="com.zbzl.entity.PageQuery" resultMap="BaseResultMap">
    select * from(select C.*,ROWNUM RN FROM(
    select
    <include refid="Base_Column_List" />
    from sys_user
    where 1=1 ${exSql}) C WHERE ROWNUM &lt;= (#{page})*(#{row})) WHERE RN>(#{page}-1)*(#{row})
  </select>

  <select id="selectCountByExample" parameterType="com.zbzl.entity.PageQuery" resultType="java.lang.Integer">
    select
    count(0)
    from sys_user
    where 1=1 ${exSql}
  </select>


  <select id="getDataByExmple" parameterType="java.lang.String" resultType="java.lang.String">
    select ${outCol} from ${tableName} where ${inCol} = #{inData}
  </select>


  <select id="getMaxId" resultType="java.lang.Integer">
    select nvl(max(cast(user_id as INTEGER)),0) from sys_user
  </select>



</mapper>